<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="appointmentModalLabel">Client Data for Appointment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please enter your email to confirm the appointment</p>
        <%= form_tag make_appointment_session_path(session), method: :patch, local: true, data: { turbo: false } do %>
          <div class='my-2'>
            <%= email_field_tag :client_email, nil, class: 'form-control my-2', required: true %>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Make Appointment</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
