<div class="hero">
  <div class="container text-dark">
    <h1>Welcome to Welbyte</h1>
    <p>Book an appointment with a therapist and take care of your mental health.</p>
    <a href="/therapists" class="btn btn-primary">Book Now</a>
    <a href="/therapists/new" class="btn btn-success">Register as a Therapist</a>
  </div>
</div>
