<% if notice || alert %>
  <div class="row">
    <div class="col">
      <div class="alert alert-primary" role="alert">
        <p id="notice"><%= notice || alert %></p>
      </div>
    </div>
  </div>
<% end %>
